DataSet
7_Electron_Invariant_Mass_Prediction/electron_invariant_mass_XGBRegressor.joblib
7_Electron_Invariant_Mass_Prediction/electron_invariant_mass_RandomForestRegressor.joblib
token.env
8_Searching_for_the_Exo_Planets_Using_Machine_Learning_Algorithms/kaggle.json
8_Searching_for_the_Exo_Planets_Using_Machine_Learning_Algorithms/kepler-labelled-time-series-data
9_Water_Quality_Potality_Prediction/kaggle.json
11_Pulsar_Star_Prediction/kaggle.json
12_Military_Aircraft_Detection/Military_Aircraft_Dataset/annotated
12_Military_Aircraft_Detection/Military_Aircraft_Dataset/dataset
12_Military_Aircraft_Detection/Military_Aircraft_Dataset/splitted_dataset
12_Military_Aircraft_Detection/Military_Aircraft_Dataset/yolov5_detections
12_Military_Aircraft_Detection/list_generator
13_Illegal_Vessels_Detection
14_Object_Detection_Using_Satellite_Images_From_WorldView_Satellites/dataset
